<div class="container_big-card">

    <div class="picture_big-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8JyOWXQFI26M0WuNWfLCPRHo11ZTyjB6bbA&usqp=CAU" 
        alt="" 
        srcset=""
        height="300px"
        >
    </div>
 
    <div class="title_big-card">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="description_big-card">
        <p>
            <a href="">
                Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.Leite de capivaris, leite de mula manquis sem cabeça.Delegadis gente finis, bibendum egestas augue arcu ut est.
            </a>
        </p>
    </div>

</div>